.create-recommendation-container{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-recommendation-container .tab{
    width: 50% !important;
}