.post-container{
    padding: 40px 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.post-container .card{
    width: 100%;
    box-shadow: black 2px 2px 6px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.card .textField{
    margin: 5px 0 !important;
}