.panelDiv {
  background-color: transparent;
  width: 100%;
  min-height: 5%;
  background-color: yellow;
}

.panelAppBar {
  height: 100%;
}

.toolbarPanel{
  background-color: #596594;
  color: white;

}
