.mainPage-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage-container .cover-page{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: url("/img/background.jpg") center no-repeat;
    background-size: cover;
}

.cover-page .cover-page-button{
    border-radius: 10px;
    color: black;
    width: 200px;
    border: black solid 1px;
    margin: 20px;
}

.cover-page h1{
    color: #777373;
    font-size: 60px;
    width: 60%;
    text-align: center;
    font-family: "URW Gothic", serif;
    margin: 0;
}

.mainPage-container .mainPage-block{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainPage-content img{
    width: 100%;
    height: 100%;
}

.mainPage-content h1{
    margin: 40px;
    font-size: 50px;
    font-family: "URW Gothic", serif;
    text-align: center;
}

.mainPage-content p{
    text-align: center;
    font-size: 20px;
    margin: 40px;
}

