.category-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    justify-items: center;
    box-sizing: border-box;
}

.category-container .select{
    width: 70% !important;
}

.category-container .button{
    background: #414442 !important;
    color: white !important;
    font-family: cursive !important;
    transition-duration: 0.4s;
}

.category-container .button:hover{
    background: #681a68 !important;
}

.layer{
    width: 40% !important;
    height: auto !important;
    border: black 2px !important;
}

.buttonLayer{
    background: red !important;
}