.specificRecommendationGrid{
  background-color: yellow;
  align-items:flex-start;
  justify: space-between;
  justify-content: space-between;
}

.gridPostContainer{
  background-color: purple;
  width: 65vw;
  justify-content: center;
  align-items: center;
  justify: center;

}

.postBoxClass{
  background-color: #242847;
  margin-top: 5%;
  margin-left: 10%;
}

.headerRecomGrid{
  background-color: orange;
  padding: 0.5rem;
  align-items: center;
  justify: center;
  justify-content: space-between;
  display: flex;

}

.imageRecomGrid{
  background-color: green;
  width: 15%;
  height: 55%;
  justify-content: center;
  align-items: center;
  justify: center;
  text-align: center;
  display: flex;
  padding: 0.5rem;
  vertical-align: center;

}


.imageRecomDiv {
  width: 100%;
  height: 100%;
  vertical-align: center;
}

.infoRecomGrid{
  background-color: pink;
  width: 84%;


}

.infoRecomGridContainer{
  background-color: gray;
  align-items: flex-end;
  justify: space-between;
  justify-content: space-between;
  display: flex;
}

.thumbnailSpace {
  max-width: 7rem;
  max-height: 4rem;
}

.recomTitleGrid{
  background-color: lightgreen;
  width: 100%;
}

.recomTitleBox{
  font-family: Verdana;
  font-size: 160%;
  font-weight: bold;
  word-break: break-all;
}

.fontFamilyText {
  font-size: 5rem;
  font-family: Raleway;
  color: black;
  font-weight: 400em;
}

.recomDateGrid{
  background-color: darkblue;
  width: 100%;
}

.recomDateBox{
  font-family: Verdana;
  color: #B3B8E0;
  font-size: 100%;
}

.recomRaitingItemGrid{
  background-color: darkgreen;
  width: 100%;
  height: 3rem;
}

.recomRaitingItemContainer{
  background-color: lightblue;
  width: 100%;
  height: 100%;
  align-self: flex-start;
  align-items: center;
  justify: space-between;
  justify-content: space-between;
  text-align: center;
  display: flex;

}

.ratingGrid{
  background-color: black;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: right;
  text-align: center;
  display: flex;
}

.recomScoreGrid{
  background-color: gainsboro;
  height: 3rem;
  width: 3rem;

}

.scoreBox {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify: center;
  text-align: center;
}

.scoreFont {
  font-size: 0.5rem;
  font-family: Verdana;
  color: white;
  padding-top: 0.7rem;
  text-align: center;
}

.recomDescription{
  background-color: olive;
}

.descripBoxClass {
  background-color: #242847;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0.5rem;
  text-justify: start;
  font-size: 1rem;
  font-family: Verdana;
  color: #B3B8E0;
  word-break: break-all;

}

.recomRecourseGrid{
  background-color: fuchsia;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify: center;
  text-align: center;
}

.recomRecourseBox{
  background-color: teal;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify: center;
  text-align: center;
}

.descriptionFont {
  text-justify: start;
  font-size: 1rem;
  font-family: Verdana;
  color: #B3B8E0;
}

.avatarSize {
  width: 7rem;
  height: 7rem;
}

.divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0; 0; 0; 0.2);
}

.gridUserContainerMain {
  background-color: blue;
  justify-content: center;
  align-items: center;
  justify: center;
}

.gridUserContainer{
  background-color: red;
  justify-content: center;
  align-items: center;
  justify: center;
  margin-top: 10%;
}

.userConatainerBox {
  margin: 0.7rem;
  padding: 0.5rem;
  width: 15rem;
  display: flex;
  background-color: black;
  color: #B3B8E0;
  align-items: center;;
  justify-content: center;
  word-break: break-all;
}

.usersSubContainer {
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.userProfileGrid {
  background-color: transparent;
  width: 60%;
  height: 60%;
  align-items: center;
  justify-content: center;
}

.userImageDiv{
  background-color: gray;
}

.userNameGrid{
  background-color: lightgreen;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  word-break: break-all;

}

.userNameBox{
  font-size: 200%;
}

.divider{
  color: black;
  width: 85%;
  padding-top: 1%;
}

.userDescGrid{
  background-color: darkgreen;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  word-break: break-all;

}

.userDescBox{
  font-size: 100%;
}

.categoriesGrid{
  background-color: silver;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.categoriesBox: {
  background-color: #B3B8E0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footerPost{
  width: 90%;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  background-color: olive;
  padding: 0.5rem;
}
