.root-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.root-container .panelDiv{
  height: 10vh;
  position: fixed;
  width: 100%;
}

.root-container .generalContainer{
  display: flex;
  margin-top: 10vh;
  flex: auto;
  width: 100%;
}
