.root{
  height: 100vh;
  width: auto;

}

.panelDiv{
  background-color: transparent;
  height: 10vh;
}

.generalContainer{
  color: #FFF;
  background-color: #292a2b;
  height: 90vh;
  min-height: 90%;
  width: 100%;
  width:auto;
  left: 0;
  overflow-y: auto;
  clear: both;
}
