.root-container {
  max-height: 100vh;
  max-width: 100vw;
  background-color: green;
}

.panelDiv{
  background-color: transparent;
  height: 10vh;
  max-width: 100vw;

}

.generalContainer{
  color: #FFF;
  background-color: #292a2b;
  height: 90vh;
  min-height: 90%;
  width: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;
  clear: both;
}
