.createdRecomCard {
    border-radius: 1.5vw !important;
    box-shadow: 0 0 1vw;
    display: flex !important;
    flex-direction: column;
    border: none !important;
    margin: 1vw;
    background-color: white;
    align-items: center;
    width: 25%;
    height: 45vh;
    cursor: pointer;
}

.createdRecomDiv {
  width:100%;
  height: 45vh;
  background-color: black;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  display: inline-block;

}

.createdRecomImage {
  width:100%;
  height:auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.createdRecomInfo {
  background-color: #DEE1E7;
  margin: 0 auto;
}

.createdRecomTitle {
  font-weight: bolder;
  font-size: 1.5vw;
  color: black;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  padding: 0 1vw 0 1vw;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  vertical-align:middle;
}

.createdRecomDate {
  margin-top: 2%;
  font-size: 0.9vw;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  padding: 0 1vw 0 1vw;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  vertical-align: middle;
}

.createdRecomCard:hover  {
  opacity:0.6;
}
