.mainFilterGrid{
  align-items: center;
  justify: center;
  align-self: center;
  width: 60%;
  background-color: transparent;
  margin-right: 1rem;


}

.filterSectionGrid{
  align-items: center;
  justify: center;
  justify-content: center;
}

.separation {
  margin-right: 1.5rem;
}

.filterStyle {
  width: 100%;
  padding:  0.7rem;
  align-items: center;
  justify: center;
  margin: 0 auto;

}

.filterGridStyle{
  width: 60%;
  align-items: center;
  justify: center;
  align-items: center;
  padding-top:  0.7rem;
  padding-bottom:  0.7rem;
  margin-left: -0.7rem;
  margin-right: 1rem;

}

.TextFieldStyle {
  border-width:  10px;
}

.buttonStyle {
  padding-left: 1rem;
}
