.mainDiv{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 2rem;
  display: inline-flex;
  background-color: #292a2b;

}

.trendsSectionItem {
  max-width: 18%;
  height: 100%;
  float: left;
  padding-left: 1vw;
}

.trendsSectionDiv {
  width: 100%;
}

.postsSectionItem {
  justify-content: center;
  align-items: center;
  max-width: 64%;
}

.subscriptionAndRecomSectionItem {
  float: right;
  max-width: 18%;
  padding-right: 1vw;
}
