.mainDiv{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: green;
  display: inline-flex;
}

.trendsSectionItem {
  background-color: purple;
  width: 17%;
  height: 100%;
  float: left;
}

.trendsSectionDiv {
  width: 100%;
}

.postsSectionItem {
  background-color: red;
  justify-content: center;
  align-items: center;
  width: 66%;
}

.subscriptionAndRecomSectionItem {
  background-color: pink;
  float: right;
  width: 17%;
}

.subscriptionSectionDiv {


}


.sponsorRecomsSectionDiv {

}
