.recommendationBox {
  border-radius: 10px;
  margin-top: 1rem;
  background-color: #242847;
  width: 100%;
}


.generalClass {
  margin: 10rem;
  border-radius: 10px;
  padding:  0.1rem ;
}

.scoreGridValue {
  border-radius: 10px;
  padding-right: 1.5rem;
}

.scoreBoxValue{
  border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  text-align: center;
  align-items: center;
  margin: auto;
  float: right;
}

.generalClassImage{
  margin: 10px;
  border-radius: 10px;
  padding:  0.5rem ;
  margin: auto;
  text-align: center;
  align-items: center;
  justify: center;
}

.generalClass2 {
  border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  font-size: 10;
  margin: auto;
}

.generalClass3 {
  color: white;
  font-size: 1.4rem;
  font-family: Verdana;
  padding-top: 1rem;
}

.generalClass4 {
  font-size: 1.2rem;
  font-family: Verdana;
  color: #B3B8E0;
}

.generalClass5 {
  font-size: 1rem;
  font-family: Verdana;
  color: #B3B8E0;
}

.thumbnailSpace {
  max-width: 80%;
  max-height: 80%;
  background-color: white;
}

.titleGridValue {
}

.titleBoxValue {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Verdana;
  color: #B3B8E0;
  word-break: break-all;
  margin-top: 0.2rem;

}

.levelGridValue {
  background-color: transparent;
  width: 95%;
}

.levelBoxValue {
  font-size: 1.2rem;
  font-family: Verdana;
  font-weight: bold;
  color: #B3B8E0;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.userNameGridValue {
  background-color: transparent;
  width: 95%;
}

.userNameBoxValue {
  font-size: 1rem;
  font-family: Verdana;
  color: #B3B8E0;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.timeGridValue {
  text-align: right;
  width: 100%;
  padding-right: 1rem;
}

.timeGridBox {
  font-size: 1rem;
  font-family: Verdana;
  color: #B3B8E0;
  text-align: right;
}

.categoriesStyle {
  margin: 10px;
  border-radius: 5px;
  padding:  0.1rem ;
  background-color: #B3B8E0;
}

.cardInfoGrid{
}

.boxClass{
  border-radius: 50px;
  height: 3.7rem;
  width: 3.7rem;
  font-size: 10;
  background-color: gray;
}

.specificCard {
  width: 100vw;
}

.mainGridContainer {
  align-items: center;
  justify: center;
}
