.buttonBaseTrendPost {
  width: 100%;
}

.trendPostContainer {
  background-color: gold;
  word-break: break-all;
  padding: 0.5rem;
  width: 100%;

}

.trendLanguageLevel {
  font-family: sans-serif;
  text-align: center;
  text-align: left;
  color: gray;
  font-size: 0.9vw;
}

.trendLanguageLevel span {
  color: tomato;

}

.trendTittleBox {
  word-break: break-all;
  font-size: 1vw;
  font-weight: bold;
  font-family: Verdana;
  color: black;
  text-align: left;
  width: 100%;
}
