.savedRecommendationsContainer {
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  background-color: #262626;
  background-image: url("/dark-wood.png");

}

.savedRecommendationsDiv {
  background-color: #262626;
  background-image: url("/dark-wood.png");
}

.savedRecomsTitle {
  align-self: center;
  padding-top: 1vw;
  padding-left: 4vw;
  font-size: 2vw;
  font-weight: bold;
  vertical-align: middle;
}

.paginationDiv {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  justify: center;
  text-align: center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
